<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <script src="https://kit.fontawesome.com/30d3b7fa39.js" crossorigin="anonymous"></script>
    <title>ChatBot</title>
</head>
<body>
    <div class="content_box">
        <div class="content_title">
            <i class="fa-solid fa-chevron-left"></i>
            <div class="content_main_title">
                주민등록번호 확인
            </div>
        </div>
        <table class="number_table">
            <tbody>
                <tr class="title_tr">
                    <td class="confirm_table_title">
                        주민등록번호를 입력해주세요
                    </td>
                </tr>
                <tr class="number_box_tr">
                    <td class="number_box_td">
                        <div class="number_box">
                            ******
                            <span class="number_dash">-</span>
                            *******
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table class="number_pad">
                            <tbody>
                                <tr>
                                    <td class="number"><div class="number_div">1</div></td>
                                    <td class="number"><div class="number_div">2</div></td>
                                    <td class="number"><div class="number_div">3</div></td>
                                </tr>
                                <tr>
                                    <td class="number"><div class="number_div">4</div></td>
                                    <td class="number"><div class="number_div">5</div></td>
                                    <td class="number"><div class="number_div">6</div></td>
                                </tr>
                                <tr>
                                    <td class="number"><div class="number_div">7</div></td>
                                    <td class="number"><div class="number_div">8</div></td>
                                    <td class="number"><div class="number_div">9</div></td>
                                </tr>
                                <tr>
                                    <td class="reset_td"><div class="number_div">초기화</div></td>
                                    <td class="number"><div class="number_div">0</div></td>
                                    <td class="undo_td"><div class="number_div">정정</div></td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <table class="btn_table">
        <tbody>
            <tr>
                <td>
                    <div class="btn small_btn">
                        직원호출
                    </div>
                </td>
                <td>
                    <div class="btn small_btn">
                        사용법 보기
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>